.ml {
  margin-left: 12px;
}
.mr {
  margin-right: 12px;
}
.mt {
  margin-top: 12px;
}
.mb {
  margin-bottom: 12px;
}
.btn-student {
  background-color: #63C5E9;
  width: 584px;
  height: 84px;
  border-radius: 24px;
  color: #fff;
  font-size: 40px;
}
.btn-school {
  background-color: #6C72C9;
  width: 200px;
  height: 58px;
  border-radius: 29px;
  color: #fff;
  font-size: 24px;
}
.btn-school:hover {
    border-color: #6C72C9;
    color: #6C72C9;
    background: none;
}
@font-face {
  font-family: 'Alibaba PuHuiTi 2.0';
  src: url('../assets/puhui.ttf') format('truetype'),
}
body {
  font-family: "Alibaba PuHuiTi 2.0";
}

.cursor {
  cursor: pointer;
}
.none-a {
  color: initial;
}
.none-a:hover {
  color: initial;
}